table.hover tbody tr:hover{
    cursor:pointer;
}

.hidden {
    display: none;
}

div.draggable{
    border: 3px dashed #b8d7f3;
}

div.etapas-subetapas div.etapa {
    background-color: #F7F7F7;
    padding: 10px;
}

div.etapas-subetapas div.etapa div.subEtapa {
    margin-left: 25px;
    background-color: #e6e6e6;
    padding: 10px;
    margin-bottom: 5px;
}

div.etapas-subetapas div.etapa div.subEtapa div.subEtapaContent {
    display: flex;
    align-items: center;
}

div.etapas-subetapas div.etapa div.subEtapa div.subEtapaContent  input{
    margin-bottom: 0px;
    flex-shrink: 0;
}
